<!--
    Copyright © 2024 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
-->

{{ $error := false }}

<!-- Validate arguments -->
{{ if partial "utilities/IsInvalidArgs.html" (dict "structure" "breadcrumb" "args" . "group" "partial") }}
    {{- errorf "partial [assets/breadcrumb.html] - Invalid arguments" -}}
    {{ $error = true }}
{{ end }}

<!-- Initialize arguments -->
{{ $page := .page }}

<!-- Main code -->
{{ if not $error }}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
            {{- range $index, $item := $page.Ancestors.Reverse -}}
                {{- $title := .LinkTitle -}}
                {{- if .IsHome }}{{ $title = T "home" }}{{ end -}}
                {{- $address := or .RelPermalink .Params.Redirect -}}
                {{ if $address }}
                    <li class="breadcrumb-item"><a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ $address }}">{{ $title }}</a></li>
                {{ else }}
                    <li class="breadcrumb-item">{{ $title }}</li>
                {{ end }}
            {{- end -}}
        </ol>
    </nav>
{{ end }}
