<div class="card mb-3">
	<div class="card-body">
		<h3 class="card-title">
			{{ with .Get "link" }}<a href="{{ . }}">{{ end }}
				{{ .Get "title" }}
			{{ if .Get "link" }}</a>{{ end }}
		</h3>
		{{ if .Get "subtitle" }}<h6 class="card-subtitle mb-2 text-muted">{{ .Get "subtitle" }}</h6>{{ end }}
		{{ if .Get "content" }}
			<p class="card-text">{{ .Get "content" }}</p>
		{{ else }}
			{{ .Inner }}
		{{ end }}
		{{ if .Get "button" }}
			{{ with .Get "link" }}<a href="{{ . }}" class="btn btn-primary">{{ end }}
				{{ .Get "button" }}
			{{ if .Get "link" }}</a>{{ end }}
		{{ end }}
	</div>
</div>
