<div class="toc toc-sidebar mb-5 my-md-0 mb-lg-5 p-3 text-body-secondary sticky-top">
    <div class="card">
        <div class="card-header">
            &copy; {{.Params.newssource}}
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Author: {{.Params.newsauthor}}</li>
            <li class="list-group-item">Pub.: {{ .Date.Format "January 02, 2006" }}</li>
        </ul>
        <div class="card-footer">
            {{ if .Params.newsurl }}
                <center><a href="{{.Params.newsurl}}" target="_blank" class="btn btn-primary">{{.Params.newssource}}</a></center>
            {{ end }}
        </div>
    </div>

    {{ .Render "sidebar/toc" }}
</div>
