<li class="list-group-item d-flex justify-content-between align-items-start">
	<div class="ms-2 me-auto">
		{{ $icon   := .Get "icon" }}
		<div class="fw-bold">{{ with .Get "link" }}{{ $icon }}<a href="{{ . }}">{{ end }}{{ .Get "title" }}{{ if .Get "link" }}</a>{{ end }}</div>
		{{ if .Get "content" }}{{ .Get "content" }}{{ end }}
	</div>

	{{ if .Get "showslug" }}

		{{ $section    := .Get "showslug" }}
		{{ $recaps     := (where .Site.RegularPages "Layout" "recaps" ) }}
		{{ $showRecaps := (where .Site.Pages "Params.showslug" $section ) }}
		{{ $filtered   := $recaps | intersect $showRecaps }}
		{{ $postCount  := len $filtered }}

		{{ if eq $postCount 0 }}
			<span class="badge rounded-pill bg-secondary">Coming Soon</span>
		{{ else if eq $postCount 1 }}
			<span class="badge rounded-pill bg-primary">{{ $postCount }} recap</span>
		{{ else }}
			<span class="badge rounded-pill bg-primary">{{ $postCount }} recaps</span>
		{{ end }}
	{{ end }}
</li>
