{{ .Render "global/header" }}

<div class="callout callout-light" role="callout">
    <h3>
    {{- if .Params.newsurl -}}
        <a href="{{.Params.newsurl}}" target="_blank">{{.Params.newssource}}</a>
    {{- else -}}
        {{.Params.newssource}}
    {{- end -}}
    </h3>
    <h5>{{ .Date.Format "January 02, 2006" }} by {{.Params.newsreporter}}</h5>
</div>

{{ printf "<!-- NOTICE! THE FOLLOWING CONTENT IS COPYRIGHT %s -- FANS OF LEFOX MAKES NO CLAIM TO OWNERSHIP. IT IS REPRODUCED HERE FOR INFORMATIONAL AND EDUCATIONAL PURPOSES ONLY. -->" .Params.newssource | safeHTML }}
{{ .Render "global/main" }}
{{ printf "<!-- NOTICE! THE FOLLOWING CONTENT IS COPYRIGHT %s -- FANS OF LEFOX MAKES NO CLAIM TO OWNERSHIP. IT IS REPRODUCED HERE FOR INFORMATIONAL AND EDUCATIONAL PURPOSES ONLY. -->" .Params.newssource | safeHTML }}

{{- partial "footer/disclaimer.html" . -}}
