{{ define "main" -}}
    {{- $breakpoint := $.Scratch.Get "breakpoint" -}}
    {{ $toc := .Render "single/panel-toc" }}

    {{- $metadata := "full" -}}
    {{ if isset .Params "metadata" }}
        {{ $metadata = .Params.metadata }}
    {{ else }}
        {{- with (index site.Params.pages .Type ) -}}
            {{ if isset . "metadata" }}{{ $metadata = (index . "metadata") }}{{ end }}
        {{- end -}}
    {{ end }}

    <div class="container-xxl flex-fill p-4 px-xxl-0">
        <div class="row row-cols-1 row-cols-{{ $breakpoint.current }}-2 row-cols-{{ $breakpoint.next }}-3">
            <div class="col-12 col-{{ $breakpoint.current }}-11 col-{{ $breakpoint.next }}-8 mb-5 p-4">
                {{ with .Title }}<p class="display-4 mt-5">{{ . }}</p>{{ end }}
                <p class="display-6 mt-5">{{.Params.newstitle}}</p>
                {{- partial "assets/breadcrumb.html" (dict "page" .) -}}
                {{- partial "assets/sharing.html" (dict "page" .) -}}
                <div class="card">
                    <div class="card-body">
                        <!-- NOTICE! THE FOLLOWING CONTENT IS COPYRIGHT {{.Params.newssource}} -- FANS OF LEFOX MAKES NO CLAIM TO OWNERSHIP. IT IS REPRODUCED HERE FOR INFORMATIONAL AND EDUCATIONAL PURPOSES ONLY. -->
                        {{ .Content }}
                        <!-- NOTICE! THE PREVIOUS CONTENT IS COPYRIGHT {{.Params.newssource}} -- FANS OF LEFOX MAKES NO CLAIM TO OWNERSHIP. IT IS REPRODUCED HERE FOR INFORMATIONAL AND EDUCATIONAL PURPOSES ONLY. -->
                    </div>
                </div>
                {{- partial "footer/disclaimer.html" . -}}
                {{- partial "footer/news.html" . -}}
            </div>
            <div class="col col-{{ $breakpoint.current }}-4 col-{{ $breakpoint.next }}-4 d-none d-{{ $breakpoint.current }}-block pt-5">
                <span name="toc"></span>
                {{ .Render "sidebar/news" }}
            </div>
        </div>
    </div>
{{ end -}}
