{{ define "main" -}}
    {{- $breakpoint := $.Scratch.Get "breakpoint" -}}
    {{ $sidebar := .Render "global/sidebar" }}
    {{ $toc := .Render "single/panel-toc" }}

    {{ $eptitle   := .Title }}
    {{ $episodes  := (index .Site.Data.episodes .Params.showslug).episodes }}
    {{ $showslug := .Params.showslug }}
    {{ $showname := (index .Site.Data.episodes .Params.showslug).showname }}

    {{ range $episodes }}
        {{ if eq .title $eptitle }}
            {{ .Page.Scratch.Set "goldstar" .rating }}
        {{ end }}
    {{ end }}

    {{ $goldstar := .Page.Scratch.Get "goldstar" }}

    {{ with $sidebar }}
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvass-sidebar" aria-inledby="offcanvas-label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvas-label">{{ strings.FirstUpper $.Section }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="{{ T "close" }}"></button>
            </div>
            <div class="offcanvas-body">
                {{ . | safeHTML }}
            </div>
        </div>
    {{ end }}

    <div class="container-xxl flex-fill p-4 px-xxl-0">
        <div class="row row-cols-1 row-cols-{{ $breakpoint.current }}-2 row-cols-{{ $breakpoint.next }}-3">
            <div class="col col-{{ $breakpoint.next }}-3 d-none d-{{ $breakpoint.next }}-block sidebar-overflow sticky-top pt-5">
                {{ $sidebar | safeHTML }}
            </div>
            <div class="col-10 col-{{ $breakpoint.current }}-9 col-{{ $breakpoint.next }}-6 mb-5 p-4">
                {{ .Render "global/header" }}
                {{ .Render "global/main" }}
            </div>
            <div class="col col-{{ $breakpoint.current }}-3 col-{{ $breakpoint.next }}-3 d-none d-{{ $breakpoint.current }}-block pt-5">
                <span name="toc"></span>
                <div class="card text-bg-light">
                    <div class="card-body">
                        <h5 class="card-title text-center">"{{ title .Title }}"</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary text-center"><em><a href="/library/actor/{{ $showslug }}/">{{ $showname }}</a></em> Episode</h6>
                        <p class="card-text text-center">{{ partial "recaps/rating.html" . }}</p>
                        {{ partial "recaps/episode.html" . }}
                    </div>
                    <div class="card-footer text-body-secondary">{{ partial "recaps/chronology.html" . }}</div>
                </div>
                {{ $toc | safeHTML }}
            </div>
        </div>
    </div>
{{ end -}}
