{{- $version := partial "assets/version.html" . -}}
{{- $license := .Site.Params.footer.license | safeHTML -}}
{{- $description := .Site.Params.main.description | safeHTML -}}
{{- $title := site.Title -}}
{{- $baseurl := urls.Parse $.Site.Params.Baseurl -}}

{{- $page := . -}}
{{- if not $page -}}
    {{- errorf "partial [footer/footer.html] - Missing value for param 'page'" -}}
{{- end -}}

<footer class="container-fluid footer p-0 border-top bg-primary bg-opacity-{{ .Site.Params.style.themeOpacity | default "25" | safeHTML }}">
    <div class="container-xxl px-3 px-xxl-0 py-5">
        <div class="row">
            <div class="col-md-4 small">
                <div class="text-sm-start">
                    <div class="fs-md-5 fs-6 fw-bold footer-muted">Follow Jorja Fox</div>
                    {{ range .Site.Menus.social -}}
                        <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .Name | safeHTML }}" class="text-decoration-none link-secondary d-inline p-2">
                            {{ if hasPrefix .Pre "<i" }}
                                {{ .Pre | safeHTML }}
                            {{ else }}
                                {{ partial "assets/icon.html" (dict "icon" (printf "%s fa-2x" .Pre) )}}
                            {{ end }}
                        </a>
                    {{ end -}}
                </div>
            </div>
            <div class="col-md-4 small">
                {{ range .Site.Menus.footer -}}
                    <div class="fs-md-5 fs-6 fw-bold footer-muted">{{ .Name }}</div>
                    {{- range .Children -}}
                        <div class="py-1">
                            {{- partial "assets/navbar-item.html" (dict "menu" . "page" $page "class" "link-bg-footer") -}}
                        </div>
                    {{- end -}}
                {{- end -}}
                <center><a onclick='goToRandomPost()' class="btn btn-outline-primary" role="button">Feeling lucky?</a></center>
            </div>
            <div class="col-md-4 small">
                {{ partial "mailinglist.html" (dict "headermsg" "Join the Fans of LeFox Announcement List" "listname" "announcements" "display" "main") }}
            </div>
        </div>
    </div>
</footer>

{{ partial "random.html" . }}

<!--
Fans of LeFox © 1996 by Mika A. Epstein.
All original literary content on this site is licensed CC BY-NC-SA 4.0.

Excluded from this license are the sections /news and /transcript

To view a copy of this license, visit
https://creativecommons.org/licenses/by-nc-sa/4.0/

All attempts have been made to properly attribute images.
-->
