{{ $grade := print .rating "-gold" }}
{{ $stars := print .rating }}
{{ if eq .rating "na" }}{{ $grade = "red" }}{{ end }}
<a href="/library/faq/grading/#{{ $grade }}-stars" alt="Star Rating: {{ .rating }}">

    {{ if eq .rating "na" }}
        {{ range $star, $seqstar := ( seq 5 ) }}
            <span class="star-rating star-red" data-bs-toggle="tooltip" data-bs-placement="top" title="Rating - Has not been watched yet">{{ partial "svg.html" "star" }}</span>
        {{ end }}
    {{ else }}
        {{ $count := sub 5 ( int .rating ) }}
        {{ range $stargold, $seqgold := ( seq .rating ) }}
            <span class="star-rating star-gold" data-bs-toggle="tooltip" data-bs-placement="top" title="Rating - {{ $stars }} stars out of 5">{{ partial "svg.html" "star" }}</span>
        {{ end }}
        {{ range $stargrey, $seqgrey := ( seq $count ) }}
            <span class="star-rating star-grey" data-bs-toggle="tooltip" data-bs-placement="top" title="Rating - 0 stars out of 5">{{ partial "svg.html" "star" }}</span>
        {{ end }}
    {{ end }}
</a>
