{{- $title        := .params.title -}}
{{- $photogallery := .photogallery -}}
{{- $filmography  := .filmography -}}

{{ $caption := false }}

{{ if and (.params.imdb) (.params.slug) }}
    {{ $showname := $title }}
    {{ $showslug := .params.slug }}

    {{- $showdata := newScratch -}}

    {{ $year := $showdata.Get "year" }}

    {{ range $filmography }}
        {{ if eq $showslug .slug }}
            {{ $showdata.Set "year" .dates }}
            {{ $showdata.Set "station" .station }}
        {{ end }}
    {{ end }}

    {{ $station := $showdata.Get "station" }}

    {{ $year := $showdata.Get "year" }}
    {{ $year = int $year }}

    {{ $caption = printf "%s (%d), '%s'" $station $year $showname }}
{{ end }}

{{ if .params.showslug }}
    {{ $showslug := .params.showslug }}
    {{ $eptitle  := .params.title }}
    {{ $station  := .params.station }}
    {{ $showname := .params.showname }}
    {{ $year := .params.date }}
    {{ $year = $year.Format "2006" }}

    {{ $caption = printf "%s (%s) - %s from the episode '%s'" $station $year $showname $eptitle }}
{{ end }}

<h2><a name="gallery">Gallery</a></h2>

<div class="card">
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-3 g-4">
       {{ range $photogallery }}
            {{- $image := . | absURL -}}
            <div class="col">
                <div class="card">
                    <a href="{{ $image }}" data-toggle="lightbox" data-gallery="gallery">
                    {{- partial "assets/image.html" (dict
                            "url" .
                            "ratio" "1x1"
                            "wrapper" "mx-auto"
                            "title" $title)
                    -}}
                    </a>
                </div>
            </div>
        {{ end }}
        </div>
    </div> <!-- end card.body -->
    {{ if ne $caption false }}
        <div class="card-footer text-body-secondary">
            Images &copy; {{ $caption }}.
        </div>
    {{ end }}
</div>

