{{- $submitbutton := .params.submitbutton -}}
{{- $listname := .params.listname -}}
{{- $display := .params.display -}}

<form method="post" action="https://scripts.dreamhost.com/add_list.cgi">

<input type="hidden" name="list" value="{{ $listname }}">
<input type="hidden" name="domain" value="jorjafox.net">
    
<!-- Required: -->
<div>
    <label for="email">Email:</label>
    <input type="text" name="email" placeholder="Enter a valid email" required>
</div>

<!-- Optional: -->
<div>
    <label for="confirm-email">Confirm Email:</label>
    <input type="text" name="address2" placeholder="Please verify your email" required>
    <input type="hidden" name="req_address2" value="1" input name="email" />
</div>

{{ if eq $display "unsubscribe" }}
	<!-- Optional Unsubscribe Button -->
	<div class="button">
    	<input type="submit" name="unsub" value="Remove me from the list">
	</div>
{{ else }}
	<div class="button">
 	   <input type="submit" name="submit" value="{{ $submitbutton }}">
	</div>

	<!-- Optional Unsubscribe Button -->
	<div class="button">
    	<input type="submit" name="unsub" value="Remove from list">
	</div>
{{ end }}
</form>