{{ with .TableOfContents }}

{{ $toc := replaceRE "<nav([^>]*)>\\s*<ul>\\s*<li>([\\s\\S]+)</li>\\s*</ul>\\s*</nav>" "$2" . | safeHTML }}
{{ $toc = replaceRE "<a href=" "<a class='dropdown-item' href=" $toc | safeHTML }}

<div class="dropdown float-end TableOfContents" id="toc">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Table of Contents</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>{{ $toc }}</li>
          </ul>
        </li>
      </ul>
    </div>
</nav>
</div>
{{ end }}
