# Stop protected folders from being narked.
ErrorDocument 401 /401.html
ErrorDocument 404 /404.html

# General Headers
AddDefaultCharset UTF-8
AcceptPathInfo Off

# Tinfoil Hat Stuff
Options +Includes
Options +FollowSymLinks -Indexes

## Security Section
<IfModule mod_rewrite.c>
    # SSL
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # ultimate hotlink protection
    RewriteCond %{HTTP_REFERER} !^$
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} \.(gif|jpe?g?|png|svg|ico)$        [NC]
    RewriteCond %{HTTP_REFERER} !^https?://([^.]+\.)?jorjafox.net      [NC]
    RewriteRule \.(gif|jpe?g?|png|svg|ico)$                          - [F,NC,L]
</IfModule>

### Extra Security
<IfModule mod_headers.c>
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header always set Expect-CT "max-age=7776000, enforce"
    Header set Access-Control-Allow-Origin "*"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
    Header add Content-Security-Policy "default-src 'self' https://*.jorjafox.net; script-src 'self' https://*.google-analytics.com https://*.googletagmanager.com https://*.jorjafox.net; style-src 'self' https://fonts.googleapis.com https://www.youtube.com; object-src 'none'; base-uri 'self'; connect-src 'self' https://*.google-analytics.com https://*.analytics.google.com https://*.googletagmanager.com; font-src 'self' https://*.jorjafox.net https://fonts.gstatic.com; frame-src 'self' https://*.jorjafox.net https://player.vimeo.com https://www.youtube-nocookie.com https://www.youtube.com; img-src 'self' https://*.jorjafox.net data: https://*.imgix.net https://*.imagekit.io https://*.cloudinary.com https://i.vimeocdn.com https://i.ytimg.com https://*.google-analytics.com https://*.googletagmanager.com https://tile.openstreetmap.org; manifest-src 'self'; media-src 'self' ; frame-ancestors 'self' https://*.jorjafox.net "
    Header set Permissions-Policy "geolocation=(), midi=(), sync-xhr=(), microphone=(), camera=(), magnetometer=(), gyroscope=(), payment=()"
</IfModule>

## BEGIN EXPIRES
<IfModule mod_expires.c>
    <Filesmatch "\.(webp|jpeg|jpg|png|gif|ico|svg|swf|mov|mp3|mpeg|mp4|ogg|ogv|woff|woff2)$">
        ExpiresActive on
        ExpiresDefault "access 1 year"
    </Filesmatch>

    <Filesmatch "\.(css|js|ttf|eot|xml|html)$">
        ExpiresActive on
        ExpiresDefault "access 3 months"
    </Filesmatch>

    ExpiresDefault "access 2 days"
</IfModule>
## END EXPIRES

## Gzip
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript font/opentype font/truetype font/eot application/x-font-ttf
</IfModule>
## End Gzip

# Massive Redirect Section!
<IfModule mod_rewrite.c>
    RewriteEngine on

    # RSS
    Redirect 301 /feed/ /feed.xml

    # Single Pages
    Redirect 301 /terms_of_use/ /terms-of-use/
    Redirect 301 /next-csi-episode/ /library/actor/csi/
    Redirect 301 /tos/copyrights/ /tos/copyright/
    RedirectMatch 301 ^/library/faqs/(.*)$ /faq/$1
    RedirectMatch 301 ^/library/faq/(.*)$ /faq/$1

    ## Blog
    RedirectMatch 301 ^/2010/jorja-jfo-to-spotlight-humane-chicago/ /blog/2010/02-28-jorja-invited-jfo-to-spotlight-humane-chicago
    RedirectMatch 301 ^/blog/2010/02-08-jorja-jfo/ /blog/2010/02-28-jorja-invited-jfo-to-spotlight-humane-chicago
    RedirectMatch 301 ^/2024/songwriting-release/ /2024/02-15-songwriting-release/

    ## Main Library Pages
    Redirect 301 /library/biography/ /library/biographies/
    Redirect 301 /library/categories/ /library/
    RedirectMatch 301 ^/library/acting(.*)$ /library/actor$1
    RedirectMatch 301 ^/library/producing(.*)$ /library/producer$1

    ## Actors
    Redirect 301 /library/actor/ww-episodes/ /library/recaps/west-wing/
    Redirect 301 /library/actor/food-heart/ /library/actor/food-for-the-heart/
    Redirect 301 /library/actor/how-make-cruelest-month/ /library/actor/how-to-make-cruelest-month/
    RedirectMatch 301 ^/self/csi-vegas/ /library/actor/csi-vegas/
    RedirectMatch 301 ^/self/csi/ /library/actor/csi/

    ## Recaps
    RedirectMatch 301 ^/library/recaps/csi/grissom-vs\.(.*)$ /library/recaps/csi/grissom-vs-volcano/
    Redirect 301 /library/recaps/csi/73_seconds/ /library/recaps/csi/73-seconds/
    Redirect 301 /library/actor/food-heart/ /library/actor/food-for-the-heart/
    Redirect 301 /library/actor/csi-episodes/ /library/recaps/csi/
    Redirect 301 /library/actor/csi-vegas-episodes/ /library/recaps/csi-vegas/
    Redirect 301 /library/actor/er-episodes/ /library/recaps/er/
    Redirect 301 /library/actor/missing-persons-episodes/ /library/recaps/missing-persons/
    Redirect 301 /library/actor/west-wing-episodes/ /library/recaps/west-wing/

    # Large Sections
    RedirectMatch 301 ^/(.*)\.md$ /$1
    RedirectMatch 301 ^/(info|work)/(.*)$ /library/
    RedirectMatch 301 ^/articles/(.*)$ /library/news
    RedirectMatch 301 ^/wiki/(news|articles)/(.*)$ /library/news
    RedirectMatch 301 ^/library/interviews(.*)$ /library/transcript$1
    RedirectMatch 301 ^/(about-notifications|feedback)(.*)$ /about/
    RedirectMatch 301 ^/gallery/(.*)$ /faq/gallery/
    RedirectMatch 301 ^/videos/(.*)$ /faq/gallery/
    RedirectMatch 301 ^/wiki/(.*)$ /library/
    RedirectMatch 301 ^/(csiwatch|mailman|updates)/(.*)$ /
    RedirectMatch 301 ^/Category:(.*)$ /library/

    # 410 GONE
    Redirect 410 /postname
    Redirect 410 /agora
    Redirect 410 /ad-free
    Redirect 410 /activity
    Redirect 410 /achievements
    Redirect 410 /comment-subscriptions
    Redirect 410 /cdn-cgi
    Redirect 410 /community
    Redirect 410 /forums
    Redirect 410 /formspring
    Redirect 410 /2010/about-notifications/
</IfModule>
