{{ $photogallery  := .Params.photogallery }}

{{ partial "utilities/ProcessContent" (dict "page" .Page "raw" .RawContent) }}

{{ if $photogallery }}
<h2>Gallery</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{ range $photogallery }}
        {{- $image := . | absURL -}}
        <div class="col">
            <div class="card">
                <a href="{{ $image }}" data-toggle="lightbox" data-gallery="gallery">
                {{- partial "assets/image.html" (dict "url" . "ratio" "1x1" "wrapper" "mx-auto" "class" "img-fluid") -}}
                </a>
            </div>
        </div>
        {{ end }}
    </div>
{{ end }}
