/* Stars */
.rating {
    display: inline-flex;
}

.star-rating {
	margin-bottom: 10px;
    margin-right: -5px;
    min-width: 120px;
}

.star-rating object, .star-rating svg {
    width: 20px;
    height: 20px;
    padding: 0px;
}
svg#grey-star, .star-grey svg, .star-grey-star svg {
    fill: #808080;
}
svg#red-star, .star-red svg {
    stroke: #F00;
    stroke-width: 2px;
    fill: transparent;
}
svg#gold-star, .star-gold svg, .star-gold-star svg {
    fill: #ffc107;
}

/* Navbars */
nav#NewsListOfYears ul, nav#TranscriptsListOfYears ul {
    column-count: 2!important;
}

/* BreadCrumbs */
.breadcrumb {
    padding-top: 0;
}

.breadcrumb-custom .breadcrumb-item {
    position: relative;
    flex-grow: 1;
    padding: 0.75rem 3rem;
    border-top: 1px solid var(--bs-border-color);
}

.breadcrumb-custom .breadcrumb-item::before {
    display: none;
}

.breadcrumb-custom .breadcrumb-item::after {
    position: absolute;
    top: 50%;
    right: -25px;
    z-index: 1;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    content: "";
    background-color: var(--bs-tertiary-bg);
    border-top-right-radius: .5rem;
    box-shadow: 1px -1px var(--bs-border-color);
    transform: scale(.707) rotate(45deg);
}

.breadcrumb-custom a, .img-lightbox {
    cursor: pointer;
}

.breadcrumb-custom a:hover {
    color: var(--bs-success)!important;
}

/* Personas */
#nav-as-seen-on {
    h2, h3, button {
        font-style: italic;
    }

    button:hover {
        background: beige;
        color: var(--bs-primary);
    }

    .active:hover {
        .bg-primary {
            background: var(--bs-secondary)!important;
            color: white;
        }
    }

    li.nav-item {
        margin-bottom: 1.25rem;
    }
}

/* Blockquote */
figcaption.blockquote-footer {
    margin-top: 10px;
}

/* Cards */
h5.card-header {
    margin-top: 0!important;
}

/* Callout */

.callout {
    --bs-link-color-rgb: var(--bd-callout-link);
    --bs-code-color: var(--bd-callout-code-color);
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--bd-callout-color, inherit);
    background-color: var(--bd-callout-bg, var(--bs-gray-100));
    border-left:0.25rem solid var(--bd-callout-border, var(--bs-gray-300))
}

.callout h3 {
    margin-top:.25rem
}

.callout h4 {
    margin-bottom:.25rem
}

.callout > :last-child {
    margin-bottom:0
}

.callout + .callout {
    margin-top:-.25rem
}

.callout .highlight {
    background-color:rgba(0, 0, 0, 0.05)
}

.callout-info {
    --bd-callout-color: var(--bs-info-text-emphasis);
    --bd-callout-bg: var(--bs-info-bg-subtle);
    --bd-callout-border: var(--bs-info-border-subtle)
}

.callout-warning {
    --bd-callout-color: var(--bs-warning-text-emphasis);
    --bd-callout-bg: var(--bs-warning-bg-subtle);
    --bd-callout-border: var(--bs-warning-border-subtle)
}

.callout-danger {
    --bd-callout-color: var(--bs-danger-text-emphasis);
    --bd-callout-bg: var(--bs-danger-bg-subtle);
    --bd-callout-border: var(--bs-danger-border-subtle)
}

.callout-light {
    --bd-callout-color: var(--bs-light-text-emphasis);
    --bd-callout-bg: var(--bs-light-bg-subtle);
    --bd-callout-border: var(--bs-light-border-subtle)
}
