/* Stars */

.rating {
    display: inline-flex;
}

.star-rating {
	margin-bottom: 10px;
    margin-right: -5px;
    min-width: 120px;
}

.star-rating object, .star-rating svg {
    width: 20px;
    height: 20px;
    padding: 0px;
}
svg#grey-star, .star-grey svg, .star-grey-star svg {
    fill: #808080;
}
svg#red-star, .star-red svg {
    stroke: #F00;
    stroke-width: 2px;
    fill: transparent;
}
svg#gold-star, .star-gold svg, .star-gold-star svg {
    fill: #ffc107;
}

a {
    text-decoration-line: underline;
     text-decoration-style: dotted;
}