<!--
    Copyright © 2024 Mika Epstein (Ipstenu)
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
-->
{{ $photogallery := $.Page.Params.photogallery }}
{{ $title := "Photo Gallery" }}

{{ if .Get "Title" }}
    {{ $title := .Get "Title" }}
{{ end }}
<div class="card">
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {{ range $photogallery }}
                {{- $imageurl := . | absURL -}}
                {{- $imagesrc := . | absURL -}}

                {{ with resources.Get $imageurl }}
                    {{ $image := $imageurl.Crop "250x250" }}
                    {{ $imagesrc = $image.RelPermalink }}
                {{ end }}

                {{ $dir  := (urls.Parse $imageurl).Path }}

                {{ with resources.GetRemote $imageurl | resources.Copy $dir }}
                    {{ $image := . }}
                    {{ $imageurl = $image.Permalink }}
                    {{ $image = $image.Crop "250x250" }}
                    {{ $imagesrc = $image.RelPermalink }}
                {{ end }}
                <div class="col">
                    <div class="card">
                        <div class="mx-auto">
                            <img src="{{ $imagesrc }}" class="img-fluid img-lightbox" alt="{{ $title }}" data-toggle="lightbox" data-gallery="gallery" data-src="{{ $imageurl }}">
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div> <!-- end card.body -->
</div>
