{{ $display := "main" }}
{{ $listname := "announcements" }}

{{ if .Get "list" }}
    {{ $display = .Get "list" }}
{{ end }}

{{ if eq $display "main" }}
    {{ $submitbutton = "Join the Fans of LeFox Announcement List" }}
{{ else if eq $display "unsubscribe" }}
	{{ $submitbutton = "Leave the Fans of LeFox Announcement List" }}
{{ else }}
    {{ $submitbutton = $display }}
    {{ $listname = $display }}
{{ end }}

{{ partial "mailinglist.html" (dict "submitbutton" $submitbutton "listname" $listname "display" $display) }}
