{{ if .Inner }}{{ end }}
{{ $id := .Get 0 }}
{{ $group := printf "tabs-%s" $id }}

<div class="flf-tabs">
  {{ range $index, $tab :=  .Scratch.Get $group }}
    <input type="radio" class="flf-tabs__control hidden" name="{{ $group }}" id="{{ printf "%s-%d" $group $index }}"
      {{ if not $index }}checked="checked" {{ end }} />
    <label for="{{ printf "%s-%d" $group $index }}" class="flf-tabs__label">
      {{ $tab.Name }}
    </label>
    <div class="flf-markdown--nested flf-tabs__content">
      {{ .Content | $.Page.RenderString }}
    </div>
  {{ end }}
</div>
